<section>
    <mat-card id="form-container">
        <section class="contact-section contact-page">
            <div class="form-head row">
                <div  class="form-img-section col-lg-4 col-md-1 col-sm-120">
                    <img class="form-img" src="../../../assets/img/tp/logo-y-w.png" />
                </div>
                <div class="col-lg-8 col-sm-12 form-text-section ">
                    <div id="main-text-section">
                        <h2 class="title text-sm-center">Otras Situaciones</h2>
                    <p style="max-width: 95%;" class="form-description mb-2 text-sm-center">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum modi corrupti non minima at,
                        eius suscipit dolores delectus.
                    </p>
                </div>
                </div>
            </div>
            <div *ngIf="!isSending && !hasSendIt"  class="container">
                <div class="row no-gutters justify-content-center">
                    <div class="col-10 mt-3">
                        <form (ngSubmit)="onSubmit($event)" class="row" [formGroup]="form">
                            <div class="col-12">
                                <mat-label>1.- Asunto de la denuncia:
                                </mat-label>
                                <mat-form-field style="width: 100%">

                                    <input matInput placeholder="Escriba el asunto de su denuncia"
                                        [formControl]="form.controls['subject']" />

                                </mat-form-field>

                            </div>

                            <div class="col-lg-4 col-12
                            ">
                                <mat-label>2.- Nombre:
                                </mat-label>
                                <mat-form-field style="width: 100%">

                                    <input matInput placeholder="Escriba el nombre"
                                        [formControl]="form.controls['victimName']" />

                                </mat-form-field>

                            </div>


                            <div class="col-lg-4 col-12">
                                <mat-label>3.- Apellido:
                                </mat-label>
                                <mat-form-field style="width: 100%">

                                    <input matInput placeholder="Escriba el/los apellidos"
                                        [formControl]="form.controls['victimLastName']" />

                                </mat-form-field>

                            </div>

                            <div class="col-lg-2 col-12">
                                <mat-label>4.- Edad:
                                </mat-label>
                                <div class="row">

                                    <mat-form-field style="width: 100%">

                                        <input matInput placeholder="Escriba la edad"
                                            [formControl]="form.controls['victimAge']" />

                                    </mat-form-field>
                                </div>


                            </div>
                            <div class="col-lg-2 col-12">
                                <mat-label>5.- Sexo:
                                </mat-label>
                                <mat-radio-group [formControl]="form.controls['victimGender']"
                                    style="display: flex; flex-direction: column;">
                                    <mat-radio-button value="si">
                                        Masculino
                                    </mat-radio-button>
                                    <mat-radio-button value="no">
                                        Femenino
                                    </mat-radio-button>
                                    <small *ngIf="!form.controls['victimGender'].valid &&
                                        form.controls['victimGender'].touched" class="mat-text-warn">You must select a
                                        gender.</small>

                                </mat-radio-group>


                            </div>

                            <div class="col-lg-6 col-md-12">
                                <mat-label>6.- Dirección donde ocurre la situación que deseas reportar:
                                </mat-label>
                                <div class="row">

                                    <mat-form-field class="col-lg-4 col-12" appearance="default">
                                        <mat-label>Estado</mat-label>
                                        <mat-select  (selectionChange)="onStateSelected($event)" [formControl]="form.controls['state']">
                                            <mat-option *ngFor="let state of states" [value]="state.nombre">
                                                {{state.nombre}}</mat-option>

                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-lg-4 col-12" appearance="default">
                                        <mat-label>Municipio</mat-label>
                                        <mat-select [formControl]="form.controls['city']">
                                            <mat-option *ngFor="let citie of cities" [value]="citie">
                                                {{citie}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-lg-4 col-12" appearance="default">
                                        <mat-label>Colonia:
                                        </mat-label>
                                        <div class="row">

                                            <mat-form-field style="width: 100%">

                                                <input matInput
                                                    [formControl]="form.controls['suburb']" />

                                            </mat-form-field>
                                        </div>
                                    </mat-form-field>
                                </div>


                            </div>
                            <div class="col-lg-6 col-12">
                                <mat-label>7.- ¿Qué relación tienes con la víctima?

                                </mat-label>
                                <mat-form-field style="width: 100%;" appearance="default">
                                    <mat-label>Elige una opción</mat-label>
                                    <mat-select  [formControl]="form.controls['relWithVictim']">
                                        <mat-option value="Soy la víctima">Soy la víctima</mat-option>
                                        <mat-option value="Madre / Padre">Madre / Padre</mat-option>
                                        <mat-option value="Familiar">Familiar</mat-option>
                                        <mat-option value="Maestro / Maestra">Maestro / Maestra</mat-option>
                                        <mat-option value="Amigo de la víctima">Amigo de la víctima</mat-option>
                                        <mat-option value="Conocido de la víctima">Conocido de la víctima</mat-option>
                                        <mat-option value="Desconocido de la víctima">Desconocido de la víctima</mat-option>

                                    </mat-select>
                                </mat-form-field>

                            </div>

                            <div class="col-lg-6 col-md-12">
                                <mat-label>8.- Descripción de la situación que deseas reportar:

                                </mat-label>
                                <mat-form-field style="width: 100%">

                                    <textarea matInput placeholder="Escriba la descripción de la situación"
                                        [formControl]="form.controls['description']"></textarea>

                                </mat-form-field>

                            </div>


                            <div class="col-12 mb-5">
                                <mat-label>10.- ¿Quieres adjuntar algun material como evidencia? (Imagen JPG, GIF, PNG)
                                </mat-label>
                                <input type="file" (change)="uploadFile($event)">

                            </div>
                            <hr>
                            <div class="col-12 text-right">
                                <button id="submit-btn" type="submit" color="accent"
                                    mat-raised-button>Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <section *ngIf="isSending" style="display: flex; justify-content: center; align-items: center;">
                <mat-spinner [diameter]="40"></mat-spinner>
            
            </section>
            <app-thanks *ngIf="hasSendIt"></app-thanks>
        </section>
    </mat-card>
</section>
