
.service-section.shape-style-one::before{
    background-color:#FFD800 ;
    top:0%;
    left: 85%; 
    transform: rotate(90deg);
    clip-path: polygon(0 0, 0 100%, 100% 0)    !important;
}


.service-section.shape-style-one::after {
    background-color:#FFD800 ;
    top:0%;
    left: 80%; 
    transform: rotate(90deg);
    clip-path:polygon(0 0, 0 100%, 100% 0)   !important;
}


@media (max-width: 1380px) {
 
.service-section.shape-style-one::before{
    background-color:#FFD800 ;
    top:0%;
    left: 18%; 
    width: 250px;
    transform: rotate(0deg);
    clip-path: polygon(0 0, 52% 25%, 100% 0)    !important;
}


.service-section.shape-style-one::after {
    background-color:#FFD800 ;
    top:0%;
    left: 4%; 
    width: 350px;

    transform: rotate(0deg);
    clip-path: polygon(0 0, 52% 25%, 100% 0)   !important;
}

.team-section .team-card .team-img{
    display: flex;
    justify-content: center;
}


  }

  .section-gap{
      padding-bottom: 100px;
  }








  .team-card{
      cursor: pointer;
  }