
<section id="bn-section" style="" class="banner-section">
    <div class="banner-slider">
        <div class="single-banner">
            <div class="container-fluid container-1600">
                <div class="row align-items-start ">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-7 ">
                        <div class="banner-content">
                            <span class="promo-text" data-animation="fadeInDown" data-delay="0.8s">

                                <div class="text-center">
                                    <p id="main-title">

                                        ¿Qué es MedAlert?​
                                    </p>
                                </div>

                            </span>
                            <h1 id="main-text" data-animation="fadeInUp" data-delay="1s"> Es la aplicacion donde podrás llevar tu historial clinico, pedir servicio de emergencias, control de tu dieta y actividad fisica </h1>

                            <ul class="btn-wrap">

                            </ul>
                        </div>
                    </div>
                    <div  id="main-report-btn" class="col-12 col-sm-12 col-md-12  col-lg-2  mt-5 ">
                        <div class="outer" >

                            <a id="circ-btn-text" style="padding-left: 10%;">
                                Ayuda</a>
                            <div class="mask">
                                <div class="ring"></div>
                            </div>
                        </div>

                    </div>
                    <div id="main-img"  class="col-12 col-sm-12 col-md-12 col-lg-3 ">

                        <img src="assets/img/tp/h2.png">

                    </div>
                </div>
            </div>


            <div style="background-color: white !important" class="">
                <div class="bg-img-gr">
                    <!-- <img src="assets/img/tp/bm-5.png"> -->
                </div>
            </div>

        </div>
    </div>
</section>
