<section class="job-list-section section-gap grey-bg">
    <div class="container">
        <div class="section-title text-center both-border mb-30">
            <span class="title-tag">Tipos de Usuario</span>
            <h2 class="title">Todos somos MedAlert</h2>
          </div>
        <div class="job-lists row">
            <div class="single-job col-lg-4 col-md-4 col-sm-12" *ngFor="let item of allyTypes">
                <div style="display: flex; align-items: center;">
                    <div style="background-color: white; border-radius: 50%; width: 60px; height: 60px; display: flex; align-items: center; justify-content: center;" class="mr-2">
                        <img  style="width: 45px; height: 45px;" class="" [src]="item.icon" />
                    </div>

                    <h4  class="title">{{item.title}} <span class="job-time" *ngIf="item.period">({{item.period}})</span></h4>
                </div>



                <p style="min-height: 130px">
                    {{item.shortdesc}}
                </p>

                <div style="display: flex; justify-content: flex-end;">

                    <button mat-raised-button color="accent" style="color: white;" [routerLink]="['/join-us/form']" >Unirte</button>
                </div>
                <!-- <a routerLink="/contact" class="apply-btn">apply now <i class="far fa-long-arrow-right"></i></a> -->
            </div>
        </div>
        <!-- <div class="view-btn text-center mt-60">
            <a routerLink="/" class="main-btn">View All Jobs</a>
        </div> -->
    </div>
</section>
