<div class="privacy-section pt-100">
    <div class="container">
        <h1>Gracias por tu reporte</h1>
        <hr>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, accusamus magni laborum aut quae, tempora officia ipsum eius fugit reiciendis accusantium obcaecati adipisci deleniti consequatur? Inventore voluptas reprehenderit doloremque quisquam?
        </p>


        <div id="bottom-btn"  routerLink="/">
            <img style="width: 30px;" src="../../../../../assets/icons/left-arrow-b.svg">
            <p style="font-weight: 600; font-size: 20px;" class="mt-3 ml-1">Volver</p>
        </div>
    </div>
</div>