<section style="background-color:#7636ff;
;">
        <div style="background-color:#7636ff;" class="row align-items-center justify-content-center">

            <div id="text-section" class="col-lg-6 col-md-8 col-10  col-order-2">
                <div class="section-title" style="display: flex; align-items: flex-start;">
                    <!-- <span class="title-tag">CONOCE MÁS​ ​</span> -->

                    <h2 style="color: white; width: 850px;" class="title">Videos y Artículos</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-10 col-order-1">
                <div style="background-color: white; border-top-left-radius: 50% ;  border-bottom-left-radius: 50% ;"
                    class="text-right mt-md-0">
                    <img style="width: 65%;" src="../../../../../assets/img/tp/h2.png">
                </div>
            </div>
        </div>

</section>


