<div class="contact-section pb-100">
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-6 p-0 contact-img">
                <img src="../../../../../assets/img/tp/form.png" alt="Image">
            </div>

            <div class="col-lg-6 p-0">
                <div class="contact-form">
                    <div class="contact-text">
                        <h3>Título 1</h3>
                        <p>Subtitulo 1</p>
                    </div>

                    <form id="contactForm">
                        <div class="row">

                            <div class="col-md-12 col-sm-6 form-group mb-3">
                                <mat-form-field style="width: 100%;" appearance="default">
                                    <mat-label>Tipo de aliado</mat-label>
                                    <mat-select style="width: 100%;">
                                        <mat-option value="Socios Sociales">Socios Sociales (Empresa - Aportación
                                            económica)​</mat-option>
                                        <mat-option value="Socios Estratégicos">Socios Estratégicos (Empresas - Campañas
                                            de contenido)​</mat-option>
                                        <mat-option value="Agente Te Protejo">Agente Te Protejo (Personal – Distribución
                                            de contenido)​</mat-option>

                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-6">
                                <mat-label>Nombre
                                </mat-label>
                                <mat-form-field style="width: 100%">

                                    <input matInput placeholder="Nombre"  />

                                </mat-form-field>

                            </div>
                            <div class="col-6">
                                <mat-label>Email
                                </mat-label>
                                <mat-form-field style="width: 100%">

                                    <input matInput placeholder="Email"  />

                                </mat-form-field>
                            </div>

                            <div class="col-12">
                                <mat-label>Whatsapp 
                                </mat-label>
                                <mat-form-field style="width: 100%">

                                    <input matInput placeholder="Nombre"  />

                                </mat-form-field>

                            </div>
                            <div class="col-12">
                                <mat-label>Comentarios 
                                </mat-label>
                                <mat-form-field style="width: 100%">

                                    <textarea matInput placeholder="Comentarios"  ></textarea>

                                </mat-form-field>

                            </div>
                            <div class="col-6">
                                <mat-label>Empresa
                                </mat-label>
                                <mat-form-field style="width: 100%">

                                    <input matInput placeholder="Email"  />

                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-label>Teléfono
                                </mat-label>
                                <mat-form-field style="width: 100%">

                                    <input matInput placeholder="Email"  />

                                </mat-form-field>
                            </div>

            

                            <div class="col-lg-12 col-md-12">
                                <button class="default-btn contact-btn">Send Message</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>