


<div class="video-section pt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="video-text" style="display: flex;align-items: center;">
                    <a id="play-btn" (click)="openYtModal()"><i class='bx bx-play'></i></a>
                    <p>¿Qué sucede cuando presionas ayuda?</p>
                    <!-- <span>Ver video</span> -->

                </div>
            </div>
            <div class="col-lg-5">
                <div class="video-text">
                    <img src="assets/img/tp/h1.png">
                </div>
            </div>
        </div>
    </div>
</div>
