


<div class="video-section pt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="video-text" style="display: flex;align-items: center;">
                    <a id="play-btn" (click)="openYtModal()"><i class='bx bx-play'></i></a>
                    <p>¿Qué sucede cuando presionas ayuda?</p>
                    <!-- <span>Ver video</span> -->

                </div>
            </div>
            <div class="col-lg-5">
                <div class="video-text">
                    <img src="assets/img/tp/h1.png">
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="theory-section">
    <div class="container">
        <div class="row theory-area">
            <div class="col-lg-7">
                <div class="theory-text">
                    <h2>My Theory is Customer Service is First</h2>
                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p>
                    <div class="signature-box">
                        <img src="assets/img/signature.png" alt="signature">
                        <p>Babatunde Smithi</p>
                        <span>Founder and CEO</span>
                    </div>
                </div>
            </div>

            <div class="theory-img">
                <img src="assets/img/theory-img.png" alt="theory image">
            </div>
        </div>
    </div>
</div> -->
